body{
    
    background-image: radial-gradient(circle at 50% 50%, #c6ffff 0, #a9ffff 16.67%, #80ffff 33.33%, #3cf2f2 50%, #00d9e3 66.67%, #00c6da 83.33%, #00b7d5 100%);
}
header{

    padding: 2%;
}
.image1{
    width: 50%;
}
td{
    padding: 2%;
    text-align: center;
}
